body{
  background-color: silver;
}
  th, td{
    border: 10px white; /* adicionar bordas as células */
    padding: 5px;
  }    
    th, td{
    border: 3px solid white; /* adicionar bordas as células */ }
 ul{
   color: white;
 }
th{
  color: white;
}
li{
color: white;
  
}
h3{
  color: yellow;
}
h1{
  color: yellow;
}
p{
  color: white;
}
h2{
  color: yellow;
}

a{
   color: blue;
}